- name: Restart dnsmasq
  ansible.builtin.systemd:
    name: dnsmasq
    enabled: yes
    state: restarted

- name: Restart nftables
  ansible.builtin.systemd:
    name: nftables
    enabled: yes
    state: restarted
